@import url('https://fonts.googleapis.com/css2?family=Acme&family=Balsamiq+Sans:ital,wght@1,700&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Balsamiq+Sans:ital,wght@1,700&family=Lobster&family=Noto+Sans+JP:wght@500&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) { 
  .brand {
    font-size: 1.8rem !important;
  }
  .brand-img {
    width: 50px !important;
    height: 50px !important;
  }
  .frmBg {
    margin: 100px 0 100px 0;
    padding: 50px 10px 50px 10px;
  }
  .intro {
    font-size: 14px !important;
  }
  .vec {
    border-radius: 50%;
    padding-top: 10px;
    width: 220px !important;
    height: 220px !important;
  }
  .outlink{
    width: 200px !important;
    height: 100px !important;
    padding: 20px 0 20px 0;
  }
  .nie {
    width: 150px !important;
    height: 150px !important;
    padding: 20px 0 20px 0;
  }
  .frmBg {
    background-color: #f3f0f0 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0.5rem;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .frmTxt {
    text-align: start;
    font-weight: 500;
    padding-bottom: 15px;
    font-size: 12px !important;
  }
  .frmTxtCon {
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px !important;
  }
  .landing {
    padding: 15px 50px 35px 50px !important;
  }
  .linkBtn {
    border: solid;
    border-width: 2px !important;
    border-color: #000000 !important;
  } 
  .searchImg {
    width: 200px !important;
    height: 310px !important;
    display: block;
  }  
  .introSmall {
    font-size: 18px !important;
    display: block;
    margin-top: 0px;
    padding-top: 200px;
    padding-bottom: 20px;
  }
  .fbTxt {
    font-size: 20.661px !important;
    display: block;
    text-align: center;
    margin-top: 35px;
  }
  .adSlide {
    font-size: 22px !important;
    margin-top: 50px !important;
  }
  .adImg {
    width: 200px !important;
    height: 355px !important;
    display: block;
  }
  .schlImg {
    height: 355px !important;
    display: block;
  }
  .mission {
    font-size: 18px !important;
    font-weight: 500;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .secRow {
    padding: 0 !important;
  }
  .vision {
    font-size: 18px !important;
    font-weight: 500;
    text-align: justify;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 20px !important;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) { 
  .linkBtn {
    border: solid;
    border-width: 2px !important;
    border-color: #000000 !important;
  }
  .brand {
    font-size: 1.8rem !important;
  }
  .brand-img {
    width: 50px !important;
    height: 50px !important;
  }
  .frmBg {
    margin: 100px 0 100px 0;
    padding: 50px 10px 50px 10px;
  }
  .intro {
    font-size: 14px !important;
  }
  .vec {
    border-radius: 50%;
    padding-top: 10px;
    width: 220px !important;
    height: 220px !important;
  }
  .outlink{
    width: 200px !important;
    height: 100px !important;
    padding: 20px 0 20px 0;
  }
  .nie {
    width: 150px !important;
    height: 150px !important;
    padding: 20px 0 20px 0;
  }
  .frmBg {
    background-color: #f3f0f0 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0.5rem;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .frmTxt {
    text-align: start;
    font-weight: 500;
    padding-bottom: 15px;
    font-size: 12px !important;
  }
  .frmTxtCon {
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px !important;
  }
  .landing {
    padding: 15px 50px 35px 50px !important;
  }
  .linkBtn {
    border: solid;
    border-width: 2px !important;
    border-color: #000000 !important;
  } 
  .searchImg {
    width: 200px !important;
    height: 310px !important;
    display: block;
  }  
  .introSmall {
    font-size: 18px !important;
    display: block;
    margin-top: 0px;
    padding-top: 200px;
    padding-bottom: 20px;
  }
  .fbTxt {
    font-size: 20.661px !important;
    display: block;
    text-align: center;
    margin-top: 35px;
  }
  .adSlide {
    font-size: 22px !important;
    margin-top: 50px !important;
  }
  .adImg {
    width: 200px !important;
    height: 355px !important;
    display: block;
  }
  .schlImg {
    height: 355px !important;
    display: block;
  }
  .mission {
    font-size: 18px !important;
    font-weight: 500;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .secRow {
    padding: 0 !important;
  }
  .vision {
    font-size: 18px !important;
    font-weight: 500;
    text-align: justify;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 20px !important;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) { 
  .linkBtn {
    border: solid;
    border-width: 2px !important;
    border-color: #000000 !important;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) { 
  
}

/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */

body {
  background-color: #bd8e50;
  background-image: url(./brick-wall.png);
  margin: 0;
  padding: 0;
  top: 0;
}

/* Navbar */
.navi {
  margin-top: 25px !important;
  margin-bottom: 80px !important;
}

.brand {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 68px;
  /* font-weight: 700 !important; */
  color: #312b6e !important;
  text-shadow: 2px 2px #f2be7e;
  margin-top: 20px !important;
  text-decoration: none;
}

.brand:hover {
  text-decoration: none;
}

.introSmall {
  font-size: 28px;
  margin-left: 0;
}

.landing {
  background-color: #FFFFFF !important;
  box-shadow: 2px 4px 8px 02px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  padding: 15px 50px 35px 100px;
}

.intro {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 32px;
  text-align: start;
  margin-top: 0px;
}

.row {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.polaroid {
  box-shadow: 2px 4px 8px 02px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19);
  margin-left: 15px !important;
  margin-right: 15px !important;
  border-radius: 5% !important;
}

.card {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.crdTxt {
  padding-top: 20px !important;
  text-align: justify !important;
  line-height: normal !important;
  font-weight: 500 !important;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.5px !important;
}

.crdTitle {
  font-family: 'Acme', sans-serif;
  font-weight: 700 !important;
  font-size: xx-large !important;
  margin-top: 20px !important;
}

.ftrBg {
  background-color: #3b3b3b !important;
  margin-top: 50px !important;
  padding: 20px !important;
}

.ftrP {
  color: #FFFFFF !important;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
}

.ftrPs {
  color: #FFFFFF !important;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 20px 20px 0 20px;
  text-align: left;
}

.frmBg {
  background-color: #f3f0f0 !important;
  margin: 100px;
  padding: 50px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.frmTxt {
  text-align: start;
  font-weight: 500;
  padding-bottom: 15px;
}

.frmTxtCon {
  text-align: start;
  padding-top: 15px;
  padding-bottom: 15px;
}

.adBtn {
  margin-top: 30px !important;
  font-weight: 500;
  float: left;
  border: solid;
  border-width: 2px !important;
  border-color: #bd8e50 !important;
}

.image-preview {
  width: 200px;
  height: 200px;
  border: 1px solid;
  margin-top: 15px !important;
  background-color: #f3f0f0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.divdi {
  background-color: #FFFFFF !important;
  height: 1px;
  margin-top: 30px !important;
}

.uniLink {
  background-color: #f7f7f7 !important;
  padding: 20px;
  margin-bottom: 50px !important;
}

.uniLinkCon {
  margin-bottom: 50px !important;
}

.socialBg {
  background-color: #000000;
  margin-bottom: 1px !important;
}

.link {
  display: inline-block;
  color: #FFFFFF;
  padding: 2px 10px 0 5px;
  font-weight: 500px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: #bd8e50 !important;
}

.menu-bar {
  background-color: #bd8e50 !important;
}

.linkBtn {
  border: solid;
  border-width: 2px !important;
  border-color: #000000 !important;
  width: 290px;
  height: 50px;  
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 17px !important;
  margin-bottom: 15px !important;
}

.schlBg {
  background-color: #ffffffd8 !important;
  padding: 70px 100px 50px 100px;
  text-align: justify;
  font-family: 'Balsamiq Sans', cursive;
  border-radius: 0.5rem;
  text-align: center;
}

.schlLnk {
  color: #000000 !important;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 20px !important;
}

.schlLnk:hover {
  color: #014ec2 !important;
  text-decoration: none;
}

.nie {
  margin-top: 30px;
}

.navTabs {
  background-color: #101730 !important;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  text-align: center;
}

.nav-link {
  color: #FFFFFF !important;
}

.nav-link:hover {
  color: #bd8e50 !important;
}

.fbSlide {
  font-size: 53.5px !important;
  color: #014ec2 !important;
  float: left;
  padding-right: 25px !important;
  margin-bottom: 10px;
}

.searchSlide {
  font-size: 90px !important;
  color: #a51e1e !important;
  float: left;
  padding-right: 35px !important;
  margin-right: 0;
}

.fbTxt {
  text-align: justify;
  font-size: 25px; 
  padding-top: 18px !important;
  font-family: 'Balsamiq Sans', cursive;
}

.section {
  background-color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
}

.mission {
  font-size: 28px;
  font-weight: 500;
  padding-top: 50px;
}

.vision {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

.secRow {
  padding: 50px;
}