@import url('https://fonts.googleapis.com/css2?family=Acme&family=Balsamiq+Sans:ital,wght@1,700&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Balsamiq+Sans:ital,wght@1,700&family=Lobster&family=Noto+Sans+JP:wght@500&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) { 
  .brand {
    font-size: 1.8rem !important;
  }
  .brand-img {
    width: 50px !important;
    height: 50px !important;
  }
  .frmBg {
    margin: 100px 0 100px 0;
    padding: 50px 10px 50px 10px;
  }
  .intro {
    font-size: 14px !important;
  }
  .vec {
    border-radius: 50%;
    padding-top: 10px;
    width: 220px !important;
    height: 220px !important;
  }
  .outlink{
    width: 200px !important;
    height: 100px !important;
    padding: 20px 0 20px 0;
  }
  .nie {
    width: 150px !important;
    height: 150px !important;
    padding: 20px 0 20px 0;
  }
  .frmBg {
    background-color: #f3f0f0 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0.5rem;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .frmTxt {
    text-align: start;
    font-weight: 500;
    padding-bottom: 15px;
    font-size: 12px !important;
  }
  .frmTxtCon {
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px !important;
  }
  .linkBtn {
    border: solid;
    border-width: 2px !important;
    border-color: #000000 !important;
  } 
  .searchImg {
    width: 200px !important;
    height: 310px !important;
    display: block;
  }  
  .introSmall {
    font-size: 18px !important;
    display: block;
    margin-top: 0px;
    padding-top: 200px;
    padding-bottom: 20px;
  }
  .fbTxt {
    font-size: 20.661px !important;
    display: block;
    text-align: center;
    margin-top: 35px;
  }
  .adSlide {
    font-size: 22px !important;
    margin-top: 50px !important;
  }
  .adImg {
    width: 200px !important;
    height: 355px !important;
    display: block;
  }
  .schlImg {
    height: 355px !important;
    display: block;
  }
  .mission {
    font-size: 18px !important;
    font-weight: 500;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .secRow {
    padding: 0 !important;
  }
  .vision {
    font-size: 18px !important;
    font-weight: 500;
    text-align: justify;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 20px !important;
  }
  h2 {
    margin-left: 20px !important;
  }
  .pageSubtxt {
    margin-left: 20px !important;
    margin-right: 5px !important;
    line-height: 0px !important;
  }
  .listcontain {
    right: 0;
    margin-top: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .listp {
    font-size: 12px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .btn2 {
    margin-left: 20px !important;
    margin-bottom: 50px !important;
  } 
  /* .crd-sz {
    display: inline-block;
    width: 10rem;
  } */
}

/* // Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) { 
  .linkBtn {
    border: solid;
    border-width: 2px !important;
    border-color: #000000 !important;
  }
  .brand {
    font-size: 1.8rem !important;
  }
  .brand-img {
    width: 50px !important;
    height: 50px !important;
  }
  .frmBg {
    margin: 100px 0 100px 0;
    padding: 50px 10px 50px 10px;
  }
  .intro {
    font-size: 14px !important;
  }
  .vec {
    border-radius: 50%;
    padding-top: 10px;
    width: 220px !important;
    height: 220px !important;
  }
  .outlink{
    width: 200px !important;
    height: 100px !important;
    padding: 20px 0 20px 0;
  }
  .nie {
    width: 150px !important;
    height: 150px !important;
    padding: 20px 0 20px 0;
  }
  .frmBg {
    background-color: #f3f0f0 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0.5rem;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .frmTxt {
    text-align: start;
    font-weight: 500;
    padding-bottom: 15px;
    font-size: 12px !important;
  }
  .frmTxtCon {
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px !important;
  }
  .linkBtn {
    border: solid;
    border-width: 2px !important;
    border-color: #000000 !important;
  } 
  .searchImg {
    width: 200px !important;
    height: 310px !important;
    display: block;
  }  
  .introSmall {
    font-size: 18px !important;
    display: block;
    margin-top: 0px;
    padding-top: 200px;
    padding-bottom: 20px;
  }
  .fbTxt {
    font-size: 20.661px !important;
    display: block;
    text-align: center;
    margin-top: 35px;
  }
  .adSlide {
    font-size: 22px !important;
    margin-top: 50px !important;
  }
  .adImg {
    width: 200px !important;
    height: 355px !important;
    display: block;
  }
  .schlImg {
    height: 355px !important;
    display: block;
  }
  .mission {
    font-size: 18px !important;
    font-weight: 500;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .secRow {
    padding: 0 !important;
  }
  .vision {
    font-size: 18px !important;
    font-weight: 500;
    text-align: justify;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 20px !important;
  }
  h2 {
    margin-left: 20px !important;
  }
  .pageSubtxt {
    margin-left: 20px !important;
    margin-right: 5px !important;
    line-height: 0px !important;
  }
  .listcontain {
    right: 0;
    margin-top: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .listp {
    font-size: 12px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .btn2 {
    margin-left: 20px !important;
    margin-bottom: 50px !important;
  } 
  /* .crd-sz {
    display: inline-block;
    width: 5rem;
  } */
}

/* // Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) { 
  .linkBtn {
    border: solid;
    border-width: 2px !important;
    border-color: #000000 !important;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) { 
  
}

/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */

body {
  margin: 0;
  padding: 0;
  top: 0;
}

h2{
  color:#f5f5f5;
  text-shadow: 1px 1px #aaaaaa;
  margin-top: 75px;
  margin-left: 250px;
  text-align: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 44px;  
}

.pageSubtxt {
  color: #f5f5f5;
  text-shadow: 2px 2px #282c34;
  text-align: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 250px;
  font-size: 22px;
  line-height: 0.4px;
  margin-top: 20px !important;
}

.btn2{
  margin-top: 30px;
  background-color:#ffd900;
  border: 2px solid #c0c0c0;
  color:#383636;
  padding: 5px 20px;
  outline: none;
  margin-left: 250px;
  float: left;
  border-radius: 0px;
}

.btn2:hover{
  background-color:#bba83d;
  border: 2px solid #c0c0c0;
  color:#383636;
}

.listcontain {
  position: absolute;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(1px,0.5fr));
  grid-gap:1px;
  margin-top: 320px !important;
  margin-bottom: 10px !important;
  margin-left: 200px !important;
  margin-right: 15px !important;
  padding: 0px !important;
}

.listbox {
  margin-top: 125px;
  height: 100px;
  position: relative;
  text-align:center;
  background-color:#050547;
  opacity: 0.95;
}

.listp {
  color: #f5f5f5;
  font-size: 17px;
  margin-top: 35px;
  text-align: center; 
  letter-spacing: 0.5px;
  text-decoration: none;
}

.listp:hover {
  color: #ffd700;
  text-decoration: none;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:10px;
  margin-bottom: 100px !important;
}

.about {
  width: 100%;
  background-size:cover;
  background-position:center;
  position:relative;
  overflow:hidden;
  background-image: url('./images/ab.jpg');   
}

.box{
  margin-left: 22px;
  margin-top: 125px;
  border: 3px solid #e9e6e6;
  position: relative;
  text-align: center;
  background-color: #f5f5f5;
  opacity: 0.8 !important;
}

.pText {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size :19px; ;
  color: #474141;
  font-weight: 500;
  padding: auto !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px; 
  color: #000000;
  font-weight: 500;
  padding: auto !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  text-align: center;
  text-shadow: 0px 0px;
}

.texta{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px; 
  color: #000000;
  padding: auto !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  text-align: center;
  text-shadow: 0px 0px;
}

.ads {
  margin-top: 100px !important;
}

.postAdTitle {
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 10px !important;
  color: #000000;
  text-shadow: none;
}

/* Navbar */
.navi {
  margin-top: 25px !important;
  margin-bottom: 80px !important;
}

.brand {
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 32px;
  color: #ffffff !important;
  text-shadow: 2px 2px #000000;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.brand:hover {
  text-decoration: none;
}

.introSmall {
  font-size: 28px;
  margin-left: 0;
}

.intro {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 32px;
  text-align: start;
  margin-top: 0px;
}

.row {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.polaroid {
  box-shadow: 2px 4px 8px 02px #00000033, 2px 6px 20px 2px #00000030;
  margin-left: 15px !important;
  margin-right: 15px !important;
  background-color: #e4e0e0 !important;
  display: inline-block;
}

.card {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.crd-sz {
  display: inline-block;
  padding: 0px !important;
}

.crdTxt {
  padding-top: 20px !important;
  text-align: justify !important;
  line-height: normal !important;
  font-weight: 500 !important;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.5px !important;
}

.crdTitle {
  font-family: 'Acme', sans-serif;
  font-weight: 700 !important;
  font-size: xx-large !important;
  margin-top: 20px !important;
}

.ftrBg {
  background-color: #f5f5f5 !important;
  margin-top: 10px !important;
  padding: 20px !important;
  box-shadow: 2px 4px 8px 02px #00000033, 2px 6px 20px 2px #00000030;
}

.ftrP {
  color: #000000 !important;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
}

.ftrPs {
  color: #363636 !important;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 20px 20px 0 20px;
  text-align: left;
}

.frmBg {
  background-color: #f3f0f0 !important;
  margin: 20px;
  padding: 50px;
  overflow: hidden;
}

.frmTxt {
  text-align: start;
  font-weight: 500;
  padding-bottom: 15px;
}

.frmTxtCon {
  text-align: start;
  padding-top: 15px;
  padding-bottom: 15px;
}

.adBtn {
  background-color: #ffd900;
  color: #383636 !important;
  padding: 5px 20px;
  border: 2px solid #c0c0c0;
  border-color: #ffffff;
  outline: none;
  border-radius: 0px;
}

.adBtn:hover {
  background-color: #ffd900;
  color: #000000 !important;
}

.image-preview {
  width: 200px;
  height: 200px;
  border: 1px solid;
  margin-top: 15px !important;
  background-color: #f3f0f0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.divdi {
  background-color: #3b3b3b !important;
  height: 2px !important;
  margin-top: 30px !important;
}

.uniLink {
  background-color: #f7f7f7 !important;
  padding: 20px;
  margin-bottom: 50px !important;
}

.uniLinkCon {
  margin-bottom: 50px !important;
}

.socialBg {
  background-color: #000000;
  margin-bottom: 1px !important;
}

.link {
  display: inline-block;
  color: #FFFFFF;
  padding: 2px 10px 0 5px;
  font-weight: 500px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: #bd8e50 !important;
}
.linkBtn {
  border: solid;
  border-width: 2px !important;
  border-color: #000000 !important;
  width: 290px;
  height: 50px;  
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 17px !important;
  margin-bottom: 15px !important;
}

.schlBg {
  background-color: #e5e5e9;  
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0px;
  top: 0;
  padding-top: 0px;
}

.sclList {
  padding: 50px 30px 50px 30px;
}

.schlDp {
  font-family: 'Balsamiq Sans', sans-serif !important;
  letter-spacing: 0.2px;
  margin-left: 20px  !important;
}

.schlLnk {
  color: #000000 !important;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 20px !important;
}

.unihd {
  color: #000000 !important;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 28px !important;
}

.linkPic {
  display: inline-block;
  margin: 50px !important;
}

.schlLnk:hover {
  color: #014ec2 !important;
  text-decoration: none;
}

.nie {
  margin-top: 30px;
}

.navTabs {
  background-color: #090e4b !important;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
}

.nav-link {
  color: #f3f0f0 !important;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}

.page{
  background-image: url('./images/mas.jpg');
  width: 100%;
  position: relative;
  height: 500px;
  margin-bottom: 100px !important; 
  background-size: cover; 
  background-position:center;
  overflow:hidden;
  float: left;
}

.nav-link:hover {
  color: #bd8e50 !important;
}

.fbSlide {
  font-size: 53.5px !important;
  color: #014ec2 !important;
  float: left;
  padding-right: 25px !important;
  margin-bottom: 10px;
}

.searchSlide {
  font-size: 90px !important;
  color: #a51e1e !important;
  float: left;
  padding-right: 35px !important;
  margin-right: 0;
}

.fbTxt {
  text-align: justify;
  font-size: 25px; 
  padding-top: 18px !important;
  font-family: 'Balsamiq Sans', sans-serif;
}

.section {
  background-color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
}

.mission {
  font-size: 28px;
  font-weight: 500;
  padding-top: 50px;
}

.vision {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

.secRow {
  padding: 50px;
}